---
layout: default
title: Drafts
---

<div class="posts">
  {% for post in site.posts %}
    {% if post.layout == "draft" %}
      <h1>
        <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
      </h1>
      {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
      </div>
      {% endif %}
      <p>
        {% if post.excerpt %}
          {{ post.excerpt }}
        {% else %}
          {{ post.content | strip_html | truncate: 350 }}
        {% endif %}
        <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
        <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
      </p>
    {% endif %}
  {% endfor %}
</div>