<head>
  <title>Writings</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/syntax.css">
  <!-- Use Atom -->
  {% feed_meta %}  
  
  <meta property="og:title" content="Writings" />
  <meta name="author" content="David Valdman" />
  <meta property="og:locale" content="en_US" />
  <meta name="description" content="David Valdman’s personal website" />
  <meta property="og:description" content="David Valdman’s personal website" />
  <link rel="canonical" href="https://dmvaldman.github.io/" />
  <meta property="og:url" content="https://dmvaldman.github.io/" />
  <meta property="og:site_name" content="Writings" />

  <!-- Twitter cards -->
  <meta name="twitter:site"    content="@{{ site.twitter_username }}">
  <meta name="twitter:creator" content="@{{ site.author }}">
  <meta name="twitter:title"   content="{{ page.title }}">

  {% if page.excerpt %}
  <meta name="twitter:description" content="{{ page.excerpt }}">
  {% endif %}

  {% if page.image %}
    {% if page.title != 'Writings' %}
    <meta name="twitter:card"  content="summary_large_image">
    {% else %}
    <meta name="twitter:card" content="summary" />
    {% endif %}
  <meta name="twitter:image" content="{{ site.url }}/assets/img/{{ page.image }}">
  {% endif %}
  <!-- end of Twitter cards -->

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quattrocento+Sans">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
      });
  </script>

  <!-- Google Analytics -->
  {% include google-analytics.html %}
</head>
