---
layout: default
---

<h1 class="section-header">Drafts</h1>
<hr class="section-divider">

{% assign sorted_drafts = site.drafts | sort: 'date' | reverse %}
{% for draft in sorted_drafts %}
<div class="feed-item">
  <a href="{{ site.github.url }}{{ draft.url }}">
    <div class="meta">
      <span class="date">{{ draft.date | date: "%b %Y" }}</span>
    </div>
    <div class="content">
      <h2 class="title">
        {{ draft.title }}
        {% if draft.tags and draft.tags.size > 0 %}
          <span class="tags">
            {% for tag in draft.tags %}
              <span class="tag">{{ tag }}</span>
            {% endfor %}
          </span>
        {% endif %}
      </h2>
      {% if draft.excerpt %}
        <p class="subtitle">{{ draft.excerpt | strip_html }}</p>
      {% endif %}
    </div>
  </a>
</div>
{% endfor %}