---
layout: default
---

<div class="post">
<div class="post-header">
  <h1>
    {{ page.title }}
  </h1>
  <span class="post-date">
    {{ page.date | date: "%Y" }} · {{ page.date | date: "%B %-d" }} · {% include read-time.html %}
  </span>
</div>

{% if page.image %}
<div class="banner">
  {% if page.link %}
    <a href="{{ page.link }}" target="_blank">
      <img src="/assets/img/{{ page.image }}" alt="{{ page.title }}">
    </a>
  {% else %}
    <img src="/assets/img/{{ page.image }}" alt="{{ page.title }}">
  {% endif %}
  {% if page.caption %}
    <div class="image-caption">{{ page.caption }}</div>
  {% endif %}
</div>
{% endif %}

{{ content }}

<div class="author">
  <img class="mug" src="/assets/img/mug.png"></img>
  <div class="author-blurb">Have a comment or response? <a href="mailto:dmvaldman@gmail.com>">Email me</a>
    <br>Like the content? <a href="https://x.com/dmvaldman" class="author-social">Follow along on X</a>
  </div>
</div>

{% include related-posts.html %}
</div>
