---
layout: default
---

<h1 class="section-header">Projects</h1>
<hr style="margin: var(--spacing-sm) 0 var(--spacing-xl) 0;">

{% for project in page.projects %}
<div class="feed-item">
  <a href="{{ site.github.url }}{{ project.url }}">
    <div class="meta">
      {% if project.status == 'current' %}
        <span class="date">Current</span>
      {% else %}
        <span class="date">{{ project.date | date: "%b %Y" }}</span>
      {% endif %}
      <span class="item-type">Project</span>
    </div>
    <div class="content">
      <h2 class="title">
        {{ project.title }}
        {% if project.tags and project.tags.size > 0 %}
          <span class="tags">
            {% for tag in project.tags %}
              <span class="tag">{{ tag }}</span>
            {% endfor %}
          </span>
        {% endif %}
      </h2>
      {% if project.excerpt %}
        <p class="subtitle">{{ project.excerpt | strip_html }}</p>
      {% endif %}
    </div>
  </a>
</div>

{% assign index = forloop.index %}
{% if page.current_count > 0 and index == page.current_count %}
<hr style="margin: var(--spacing-xl) 0;">
{% endif %}

{% endfor %}

<!-- Pagination links -->
{% if page.total_pages > 1 %}
<div class="pagination">
  {% assign next_page = page.page_num | plus: 1 %}
  {% if next_page <= page.total_pages %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}/projects/page/{{ next_page }}/">{{ site.data.settings.pagination.previous_page }}</a>
  {% endif %}

  {% if page.page_num > 2 %}
    {% assign prev_page = page.page_num | minus: 1 %}
    <a class="pagination-button pagination-active" href="{{ site.github.url }}/projects/page/{{ prev_page }}/">{{ site.data.settings.pagination.next_page }}</a>
  {% elsif page.page_num == 2 %}
    <a class="pagination-button pagination-active" href="{{ site.github.url }}/">{{ site.data.settings.pagination.next_page }}</a>
  {% endif %}
</div>
{% endif %}
