---
layout: default
---

{% for project in page.projects %}
<div class="feed-item">
  <a href="{{ site.github.url }}{{ project.url }}">
    <div class="meta">
      <span class="date">{{ project.date | date: "%Y" }} · {{ project.date | date: "%m" }}</span>
      <span class="item-type">Project</span>
    </div>
    <div class="content">
      <h2 class="title">{{ project.title }}</h2>
      {% if project.excerpt %}
        <p class="subtitle">{{ project.excerpt | strip_html }}</p>
      {% endif %}
    </div>
  </a>
</div>
{% endfor %}

<!-- Pagination links -->
{% if page.total_pages > 1 %}
<div class="pagination">
  {% assign next_page = page.page_num | plus: 1 %}
  {% if next_page <= page.total_pages %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}/projects/page/{{ next_page }}/">{{ site.data.settings.pagination.previous_page }}</a>
  {% endif %}

  {% if page.page_num > 1 %}
    {% assign prev_page = page.page_num | minus: 1 %}
    {% if prev_page == 1 %}
      <a class="pagination-button pagination-active" href="{{ site.github.url }}/projects/">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <a class="pagination-button pagination-active" href="{{ site.github.url }}/projects/page/{{ prev_page }}/">{{ site.data.settings.pagination.next_page }}</a>
    {% endif %}
  {% endif %}
</div>
{% endif %}
